<footer style="margin-top: 30px;padding-top:10px;">
      <div style = "padding-left:5%;padding-right:5%";class="container">
        <div class="col-md-12">
        <h5 class="text-center">友情链接</h5>

            <a style="padding-left:10%" href="https://echarts.apache.org/en/index.html" target="_blank">Echarts</a>
            <a style="padding-left:10%" href="http://www.eastmoney.com/" target="_blank">东方财富网</a>
            <a style="padding-left:10%" href="https://splash.readthedocs.io/en/stable/" target="_blank">splash</a>
            <a style="padding-left:10%" href="https://scrapy.org/" target="_blank">scrapy</a> 
            <a style="padding-left:10%" href="https://blog.whsasf.com" target="_blank">MyBlog</a>  
	<p class="text-center" ><a href="http://www.beian.miit.gov.cn/" target="_blank">沪ICP备19037220号-2</a> </p>
        <p style="padding-top:5px"class="text-center">警告:本网站数据来自互联网，仅供参考，不承担任何因数据有效性和正确性所造成损失的责任。</p>
	</div>
       </div>
</footer>
     
